---
layout: post
title: Folded Futures Story
---
<section class="folded-story">
    <div class ="container">
        <div class="row">
            <div class = "col-12">
                   {% for post in site.posts limit: 1 %}
                     {% include post_block.html %}
                   {% endfor %}
            </div>
        </div>
</section>

<section class="prompts">
  <div class="jumbotron" id="writing-promps_jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5 col-lg-4">
          <h1>Writing Prompt Generator</h1><br>
              <div>
                  <a id="share" href="https://twitter.com/share" class="twitter-share-button" data-text="Generate a story idea " data-via="D4D" data-size="large"><span class="fa fa-twitter"><i class="fab fa-twitter"></i></span>Tweet Me</a>
                </div>
        </div>
        <div class="col-12 col-md-7 col-lg-8">
          <h3 id="yourQuote"></h3>
          <p id="yourAuth" class="italic"></p>
                    <button class="btn btn-success btn-lg btn-block" type="submit">Generate a writing prompt</button>
                    <!-- <div class="col-sm-2-offset-1"id="fb-share-button">
                        <span>Share</span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="submissions">
<div class="container">
    <div class="jumbotron jumbotron-fluid jumbotron-ethics">
      <div class="container">
          <div class="row">
            <div class ="col-xs-12">
                <h2 class="text-center">Collaborate with us</h2>
            </div>
        <div class="d-none d-md-flex col-md-12">
        <div class="content-animation">
          <div class="content-animation__container">
            <p class="content-animation__container__text">
              Send
            </p>

            <ul class="content-animation__container__list">
              <li class="content-animation__container__list__item">&nbsp;fiction !</li>
              <li class="content-animation__container__list__item">&nbsp;ur art !</li>
              <li class="content-animation__container__list__item">&nbsp;video !</li>
              <li class="content-animation__container__list__item">&nbsp;comics !</li>
            </ul>
          </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-8">
            <p class="lead"> Click the button to submit fiction, illustration, comic, video clips, art, design, photography to the project.</p>
        </div>
            <div class="col-xs-12 col-lg-4">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdtij3JmpvJKUOc-BCOaZeoPULBNv61J2RV4IA9nKyzYOwATg/viewform" target="_blank"><button class="btn btn-primary btn-ethics">Submit ideas</button></a>
                </div>
        </div>
      </div>
    </div>

</div>
</section>
