<!-- Renders post date, title, and snippet of text. -->
<div class="py-2 mb-2 prose">
  <a class="no-underline h5 bold text-accent" title="{{ post.url | prepend: site.baseurl }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}</a>
  <h2 class="h1 col-12">
    <a class="title" title="{{ post.url | prepend: site.baseurl }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </h2>
  <p class="post-content">{{ post.content | strip_html | truncatewords:30 }}</p>
</div>
